/*body {
    background-size: cover;
    background: url('../images/construct.jpg') no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
*/
/*
#welcome {
    position: absolute;
    display:block;
    margin: 50% auto;
    background: rgba(255,255,255,0.8);
    border-radius: 25px;
    padding: 10px;
    text-align: center;
}
*/
footer {
    position: fixed;
    bottom: 5px;
    right: 5px;
    color: rgba(0,0,0,0.8)
}
.slick-arrow{
    color: black;
}

html{
    background:
    url('../images/blueseaback.png') repeat,
    url('../images/greenseaback.png') repeat,
    url('../images/pinkseaback.png') repeat,
    url('../images/redseaback.png') repeat;
    text-align:center
}
.container{
    margin-top:1%;
    height:100%;
}

#carousel #leftarrow #rightarrow{

}

#carousel img {
    max-height:200px;
    margin: 0 auto;
}

#firstpage{

}
#social{
    min-height:20%;
}
