
footer {
    position: fixed;
    bottom: 5px;
    right: 5px;
    color: rgba(0,0,0,0.8)
}
.slick-prev:before, .slick-next:before {
    font-size: 10rem;
    z-index: 100;
}

.slick-prev, .slick-next {
    height:10rem;
    width:10rem;
}

html{
    background:
    url('../images/blueseaback.png') repeat,
    url('../images/greenseaback.png') repeat,
    url('../images/pinkseaback.png') repeat,
    url('../images/redseaback.png') repeat;
    text-align:center
}
.container{
    margin-top:1%;
    height:100%;
}

#carousel #leftarrow #rightarrow{

}

#carousel img {
    max-height:200px;
    margin: 0 auto;
}

#firstpage{

}
#social{
    min-height:20%;
}
a {
    background-color: #696969;
    color: #000;
    margin: 0.2rem;
    text-decoration: none;
}
a:hover {
    background-color: #39709e;
    color:black;
}