html, body{
    background-image: url(images/lightpaperfibers.png);
    background-repeat: repeat;
}
.container{
    margin-top:1%;
    height:100%;
    margin-bottom:3%;
}
#firstpage img {
    max-width: 150px;
}
#firstpage, p, h1 {
    text-align:center;
}
#secondpage{
    text-align: left;
}
#thirdpage{
}
#fourthtitle h1{
    text-align:right;
}
#social{
    text-align:center;
    min-height:20%;
}
a {
    background-color:rgba(105,105,105,0.5);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding-left: 0.1em;
    padding-right: 0.1em;
}
a:hover {
    background-color: rgba(57, 112, 158, 0.7);
    color:black;
}
mark {
    background-color:rgba(105,105,105,0.3);
    border-radius: 5px;
    padding-right: 0.1em;
    padding-left: 0.1em;
}
.skills {
    animation-name: skills;
}
main {
    padding: 0;
    padding-top: 2vh;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
section article.skills {
    width: 100%;
    height: auto;
}
section article.skills h1 {
    z-index: 3;
    color: rgba(255,255,255,0.8);
    padding: 0;
    position: absolute;
    overflow: hidden;
    float:left;
    transform: translate(10px,-4px);
}

section article.skills p {
    z-index: 2;
    color: white;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}
section article.skills div span:nth-child(1) {
    z-index: -2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
}
section article.skills div span:nth-child(2) {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(57, 112, 158,1);
    height: 100%;
}
section article.skills div:nth-child(1) span:nth-child(2) {
    width: 90%;
    animation-delay: 5s;
}
section article.skills div:nth-child(2) span:nth-child(2) {
    width: 85%;
    animation-delay: 5.05s;
}
section article.skills div:nth-child(3) span:nth-child(2) {
    width: 85%;
    animation-delay: 5.1s;
}
section article.skills div:nth-child(4) span:nth-child(2) {
    width: 75%;
    animation-delay: 5.15s;
}
section article.skills div:nth-child(5) span:nth-child(2) {
    width: 75%;
    animation-delay: 5.2s;
}
section article.skills div:nth-child(6) span:nth-child(2) {
    width: 70%;
    animation-delay: 5.25s;
}
section article.skills div:nth-child(7) span:nth-child(2) {
    width: 70%;
    animation-delay: 5.3s;
}
section article.skills div:nth-child(8) span:nth-child(2) {
    width: 75%;
    animation-delay: 5.35s;
}


.skills {
    animation: skills 5s cubic-bezier(0.17, 0.67, 0, 1);
}
@keyframes skills {
    0% {
        left: -500px;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

/* Carousel item 4 gallery */
#fourth {
    margin:0 auto;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.vidresult {
    position: relative;
    margin: 0.2em;
    border: 2px solid rgba(105,105,105,0.7);
    border-radius: 5px;
}


#4thitemtext{
    position: fixed;
    overflow: visible;
    height:100vh;
    width:100vw;
    bottom:2vh;
    right:2vw;
    z-index:2;
    color: rgba(105,105,105,0.7);
    font-size:4em;
}
/* gallery of projects */
#fourthpage a {
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
    width: calc(100% - 4px);
    margin-right: 8px;
    background-color: transparent;
}
#fourthpage a:hover{
    background-color: transparent;
}
#fourthpage a:nth-of-type(2n) {
    margin-right: 0;
}
@media screen and (max-width: 45em) {
    section article.skills h1 {
        display: none;
    }
}
@media screen and (min-width: 45em) {
    #fourthpage a {
        width: calc(50% - 8px);
    }

    #fourthpage a:nth-of-type(2n) {
        margin-right: 8px;
    }
}

#fourthpage img{
    width: 100%;
    height: 100%;
    position: relative;
    z-index:1;
    vertical-align: top;
}
figcaption {
    position: absolute;
    height: 100%;
    width:100%;
    float: left;
    z-index: 3;
    margin: 0 auto;
    text-align: center;
    top:0;
    text-transform: uppercase;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    font-size: 16px;
    opacity: 0;
}
figcaption span{
    line-height: normal;
    display: inline-block;
    margin-top: 50px;
    vertical-align: middle;

}
a:hover figcaption {
    opacity: 1;
    transition: 1s;
}
.vidresult:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.7);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    z-index: 2;
}
.vidresult:hover:after {
    opacity: 1;
}